language: php

php:
  - 5.3.9
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7
  - hhvm

before_script:
    - composer install

script:
  - phpunit --colors --exclude-group ipn
  - if [[ "`phpenv version-name`" != "5.3" && "`phpenv version-name`" != "hhvm" ]]; then phpunit --colors --group ipn; fi