language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - nightly
  - hhvm

sudo: false

env:
  - COMPOSER_OPTS=""
  - COMPOSER_OPTS="--prefer-lowest"

matrix:
  allow_failures:
    - php: nightly
    - php: 7

install:
    - travis_retry composer update $COMPOSER_OPTS --no-interaction --prefer-source

script:
  - phpunit --colors --exclude-group webhook
  - if [[ "`phpenv version-name`" != "5.3" && "`phpenv version-name`" != "hhvm" ]]; then phpunit --colors --group Webhook; fi

notifications:
  slack: xsolla:V74WgCQlV6kas6X9SNQKl5R1