<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" colors="true"
         bootstrap="./vendor/autoload.php"
         backupGlobals               = "false"
         backupStaticAttributes      = "false"
         convertErrorsToExceptions   = "true"
         convertNoticesToExceptions  = "true"
         convertWarningsToExceptions = "true"
         processIsolation            = "false"
         stopOnFailure               = "false">
    <coverage>
        <include>
            <directory>./src/</directory>
        </include>
    </coverage>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="On"/>
        <ini name="display_startup_errors" value="On"/>
        <env name="COUPON_CODE" value="1wpb1igjBig0g"/>
        <env name="CAMPAIGN_ID" value="2378"/>
        <env name="GAME_DELIVERY_ENTITY_ID" value="24"/>
        <env name="USER_ID" value="1"/>
        <!--
        <env name="MERCHANT_ID" value="1" />
        <env name="PROJECT_ID" value="1" />
        <env name="API_KEY" value="secret" />
        -->
    </php>
    <testsuites>
        <testsuite name="Xsolla SDK for PHP Test Suite">
            <directory>./tests/Unit</directory>
            <directory>./tests/Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
